In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
import pandas as pd

# 5.(a) Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating

In [4]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [5]:
site = requests.get(url)

In [6]:
bs = BeautifulSoup(site.content)

In [7]:
teamA = []

In [8]:
b=0
for i in bs.find_all('span',class_='u-hide-phablet'):
    if(b<10):
        teamA.append(i.text)
        b+=1
    else:
        break

In [9]:
teamA

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [10]:
matchesA = []

In [11]:
i = bs.find('td',class_='rankings-block__banner--matches')

In [12]:
matchesA.append(i.text)

In [13]:
b=1
for i in bs.find_all('tr',class_='table-body'):
    if(b<10):
        child = i.find_all('td',class_='table-body__cell u-center-text')
        matchesA.append(child[0].text)
        b+=1
    else:
        break

In [14]:
matchesA

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

In [15]:
pointsA = []

In [16]:
i = bs.find('td',class_='rankings-block__banner--points')

In [17]:
pointsA.append(i.text)

In [18]:
b=1
for i in bs.find_all('tr',class_='table-body'):
    if(b<10):
        child = i.find_all('td',class_='table-body__cell u-center-text')
        pointsA.append(child[1].text)
        b+=1
    else:
        break

In [19]:
pointsA

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [20]:
ratingsA = []

In [21]:
i = bs.find('td',class_='rankings-block__banner--rating u-text-right')

In [22]:
ratingsA.append(i.text.strip())

In [23]:
b=1
for i in bs.find_all('td',class_='table-body__cell u-text-right rating'):
    if(b<10):
        ratingsA.append(i.text)
        b+=1
    else:
        break

In [24]:
ratingsA

['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [25]:
print(len(teamA),len(matchesA),len(pointsA),len(ratingsA))

10 10 10 10

In [26]:
df = pd.DataFrame({'Team':teamA,'Matches':matchesA,'Points':pointsA,'Rating':ratingsA})

In [27]:
df

           Team Matches Points Rating
0   New Zealand      17  2,054    121
1       England      32  3,793    119
2     Australia      28  3,244    116
3         India      32  3,624    113
4  South Africa      25  2,459     98
5      Pakistan      27  2,524     93
6    Bangladesh      30  2,740     91
7   West Indies      30  2,523     84
8     Sri Lanka      32  2,657     83
9   Afghanistan      17  1,054     62

# 5.(b) Top 10 ODI Batsmen along with the records of their team and rating#

In [28]:
url2 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

In [29]:
site2 = requests.get(url2)

In [30]:
bs2 = BeautifulSoup(site2.content)

In [31]:
nameB = []

In [32]:
i = bs2.find('div',class_='rankings-block__banner--name-large')

In [33]:
nameB.append(i.text)

In [34]:
b=1
for i in bs2.find_all('td',class_='table-body__cell rankings-table__name name'):
    if(b<10):
        nameB.append(i.text.strip())
        b+=1
    else:
        break

In [35]:
nameB

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [36]:
teamB = []

In [37]:
i = bs2.find('div',class_='rankings-block__banner--nationality')

In [38]:
teamB.append(i.text.strip())

In [39]:
b=1
for i in bs2.find_all('span',class_='table-body__logo-text'):
    if(b<10):
        teamB.append(i.text.strip())
        b+=1
    else:
        break

In [40]:
teamB

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

In [41]:
ratingB = []

In [42]:
i = bs2.find('div',class_='rankings-block__banner--rating')

In [43]:
ratingB.append(i.text)

In [44]:
b=1
for i in bs2.find_all('td',class_='table-body__cell rating'):
    if(b<10):
        ratingB.append(i.text)
        b+=1
    else:
        break

In [45]:
ratingB

['873', '844', '813', '801', '779', '775', '762', '758', '754', '743']

In [46]:
print(len(nameB),len(teamB),len(ratingB))

10 10 10

In [47]:
df2 = pd.DataFrame({'Name':nameB,'Team':teamB,'Rating':ratingB})

In [48]:
df2

              Name Team Rating
0       Babar Azam  PAK    873
1      Virat Kohli  IND    844
2     Rohit Sharma  IND    813
3      Ross Taylor   NZ    801
4      Aaron Finch  AUS    779
5   Jonny Bairstow  ENG    775
6     David Warner  AUS    762
7        Shai Hope   WI    758
8  Kane Williamson   NZ    754
9  Quinton de Kock   SA    743

# 5.(c) Top 10 ODI bowlers along with the records of their team and rating

In [49]:
url3 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [50]:
site3 = requests.get(url3)

In [51]:
bs3 = BeautifulSoup(site3.content)

In [52]:
i = bs3.find('div',class_='rankings-block__banner--name-large')

In [53]:
nameC= []

In [54]:
nameC.append(i.text)

In [55]:
b=1
for i in bs3.find_all('td',class_='table-body__cell rankings-table__name name'):
    if(b<10):
        nameC.append(i.text.strip())
        b+=1
    else:
        break

In [56]:
nameC

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [57]:
teamC = []

In [58]:
i = bs3.find('div',class_='rankings-block__banner--nationality')

In [59]:
teamC.append(i.text.strip())

In [60]:
b=1
for i in bs3.find_all('span',class_='table-body__logo-text'):
    if(b<10):
        teamC.append(i.text.strip())
        b+=1
    else:
        break

In [61]:
teamC

['NZ', 'AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

In [62]:
ratingC = []

In [63]:
i = bs3.find('div',class_='rankings-block__banner--rating')

In [64]:
ratingC.append(i.text)

In [65]:
b=1
for i in bs3.find_all('td',class_='table-body__cell rating'):
    if(b<10):
        ratingC.append(i.text)
        b+=1
    else:
        break

In [66]:
ratingC

['737', '709', '708', '700', '692', '691', '679', '652', '650', '643']

In [67]:
print(len(nameC),len(teamC),len(ratingC))

10 10 10

In [68]:
df3 = pd.DataFrame({'Name':nameC,'Team':teamC,'Rating':ratingC})

In [69]:
df3

               Name Team Rating
0       Trent Boult   NZ    737
1    Josh Hazlewood  AUS    709
2  Mujeeb Ur Rahman  AFG    708
3      Chris Woakes  ENG    700
4      Mehedi Hasan  BAN    692
5        Matt Henry   NZ    691
6    Jasprit Bumrah  IND    679
7    Mitchell Starc  AUS    652
8   Shakib Al Hasan  BAN    650
9     Kagiso Rabada   SA    643